body{
    background-color: #F3F1FF;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

/*--------------------------
 Header 
---------------------------- */
.bgcolor{
    background-color: #562EFF;
    width: 100%;
}
.container-header{
    width: 900px;
    margin: 0 auto;
}
.row-header{
    display: flex;
    justify-content: space-between;
    padding: 10px 25px;
}
.row-header > .logo > img{
    width: 50px;
    height: 50x;
}
.menu-pro{
    display: flex;
    align-items: center;
}
.menu a{
    font-size: 18px;
    color: white;
    text-decoration: none;
    margin-left: 30px;
}
.menu-pro > img{
    width: 50px;
    height: 50x;
    margin-left: 30px; 
}

/*--------------------------
 Players 
---------------------------- */

section#first{
    width: 900px;
    margin: 20px auto;
    background-color: #FFFFFF;
    border-radius: 5px;
}
#first .container{
    padding: 25px 25px 40px 25px;
}
.container h2{
    color: #562EFF;
    font-size: 24px;
}
.players{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 25px;
}
.player{
    display: flex;
    align-items: center;
}
.player img{
    width: 80px;
}
.player-name{
    margin-left: 15px;
}
#first hr{
    margin: 25px 10px;
}

/* --------------------------
            blogs
----------------------------- */
.blogs{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 25px;
}
.blog{
    display: flex;
    align-items: center;
}
.blog img{
    width: 163px;
}
.blog .blog-info{
    margin-left: 15px;
}
h4{
    font-size: 20px;
    margin: 10px 0;
}
.blog a{
    text-decoration: none;
    color: #562EFF;
}

/* --------------------------
Latest Courses
---------------------------- */

section#latest-courses{
    width: 900px;
    margin: 20px auto;
    background-color: #FFFFFF;
    border-radius: 5px;
}
#latest-courses .container {
    padding: 25px;
}
.container h2{
    color: #562EFF;
    font-size: 24px;
}
.courses{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 25px;
}
.course{
    padding: 15px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.05);
    border-radius: 6px;
}
.course img{
    width: 250px;
}
.course .course-author{
    font-size: 16px;
    color: #FF5469;
}
.course-info{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.rating img, .time img{
    width: 18px;
    height: 18px;
}
.time{
    display: flex;
    align-items: center;
    background-color: #FFE4E8;
    padding: 7px;
    border-radius: 16px;
}
.time p{
    margin: 0;
}

/* Footer  */
.ftext{
    margin: 0;
    padding: 30px 0;
    text-align: center;
    color: white;
}
.ftext a{
    color: #F3F1FF;
    text-decoration: none;
}

/*-------------------------
 Mobile and tablet responsive
---------------------------- */
/* tablet mode  */
@media only screen and (min-width:689px) and (max-width:992px) {
    .container-header {
        width: 100%;
    }
    section#first, section#latest-courses{
        width: 100%;
    }
    .players {
       
        grid-template-columns: repeat(2, 1fr);
    } 
    .courses {
        grid-template-columns: repeat(2, 1fr);
        grid-row-gap: 25px;
    }
}

/* Mobile mode  */
@media only screen and (max-width:688px) {
    .container-header {
        width: 100%;
    }
    section#first, section#latest-courses{
        width: 100%;
    }
    .container h2{
        text-align: center;
        margin-bottom: 30px;
    }
    .players{
        grid-template-columns: repeat(1, 1fr);
    }
    .player{
        flex-direction: column;
    }
    .blogs {
        grid-template-columns: repeat(1, 1fr);
    }
    .courses {
        grid-template-columns: repeat(1, 1fr);
        grid-row-gap: 25px;
    }
    .course>img {
        width: 100%;
    }
    
}
